*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    overflow: auto;

    
}

.card{
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    box-shadow: 10px 10px 20px black
    
}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

button{
    padding: 10px 30px;
    border: none;
    background-color: rgb(59, 178, 218);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    border: 2px solid rgb(59, 178, 218);

}

.card p{
    font-size: 14px;
    font-weight: 400;
    color: #888;
    text-align: center;

}


.card button:hover{
    background-color:transparent ;
    color: rgb(59, 178, 218);
}
