*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.card{

    width: 280px;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}
.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
/* .card h1,p{
    color: white;
} */
.card h2{
    font-size: 26px;
}
.card h4{
    font-size: 18px;
  
    margin-top: 10px;
    color: crimson;
}
.card p{
  font-size: 12px;
    white-space: normal;
}