*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 70px 1fr 1fr;

    grid-template-areas: "header header header"
                          "section section section"
                          "child1 child2 child3";

grid-gap: 20px;
padding: 20px;

}
header{
    background-color: blanchedalmond;
    grid-area: header;
}
section{
    background-color: lightgreen;
    grid-area: section;
}
#child1{
    background-color: aquamarine;
    grid-area: child1;
}
#child2{
    background-color: lightcoral;
    grid-area: child2;
}
#child3{
    background-color: lightblue;
    grid-area: child3;
}
