*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    color: white;
}
body{
    background-color: black;
    padding: 30px;

}
.main{
   width: 100%;
   height: 100%;

}
.inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
button{
    background-color: blue;
    color: white;
    padding:10px 20px ;
    
}
