*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body,html{
    height: 100%;
    width: 100%;
}

#parent{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #1e1d1d;
    gap: 10px;
    padding: 20px;
    height: 60px;

   
}

a{
text-decoration: none;
  color: white;
  font-weight: 300px;

}

.center{
    height: 80%;
    width: 100%;
    background-image: url("https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   text-align: center;
   padding: 50px;
}

.head{
    color: white;
    font-size: 50px;
}

.heading{
    font-size: 100px;
    font-weight: 700;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.links button{
    font-weight: 350px;
    background-color: #0076DF;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    border: none;
}

