*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;

}
body{
    background-color: black;
}
button{
    padding: 10px 20px;
    z-index: 2;

    
}
button:active{
scale: 0.9;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 20px;
    white-space: nowrap;
}